body{
    overflow-x: hidden;
}

h1{
    font-size: 24px;
}

h2{
    font-size: 20px;
}

h3{
    font-size: 14px;
}

p{
    font-size: 14px;
}

.row>* {
    padding-right: 0;

}

.logo-section{
    background-color:#451d5f ;
}

.side-bar-section{
    background-color: #33074F;
    min-height: 100vh;
}

.nav-btn{

    background-color: #451d5f;
    padding: 8px 12px;
    color: #fff;
    border-radius: 24px;
}

.welcome-card{
    border-radius: 8px;
    border: 1px solid #D0D5DD;
}

.mute-text{
    color: #757575;
}

.a-link{
  color: #BC006D;
  line-height: 1px;
}

.welcome-inner-sec{
    line-height: 10px;
}


.bg-success{
    background-color: #E8F5E9 !important;
    color: #219653;
   
}

.bg-light{
    background-color: #fff !important;
    color: #757575;
    font-weight: 400;
}

.bg-warning{
     background-color: #fff !important;
     color: #f5d77b !important;
}
.cross-area{
    background-image: url('../img/Vector.svg');
    background-size: cover;
    background-repeat: no-repeat;
}

/* .right-pannel {
    box-shadow: 1px 1px #888888;
} */

.page-item:first-child .page-link {
    border-radius: 0;
}

.page-item:last-child .page-link {
    border-radius: 0;
}

.page-item:not(:first-child) .page-link {
   border-radius: 4px;
}

.active>.page-link, .page-link.active {
    z-index: 3;
    color: #BC006D;
    background-color: #ffff;
    border-color: #BC006D;
}

.page-link {

    color: #000000;
    text-decoration: none;
    background-color: #ffff;
    border: 1px solid #DFE3E8;
}

        
.nav-bar-sec{
    border: 1px solid #D0D5DD;
}



@media only screen and (max-width: 600px) {
  .side-bar-section{
    display: none;
  }
}